---
permalink: /random/
lang: en
pagefind: false
eleventyComputed:
  randomId: "{{ collections.zettelNotes | randomId }}"
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url={{ randomId }}">
  <link rel="canonical" href="{{ randomId }}">
  <title>Random note…</title>
</head>
<body><p>Opening a random note… <a href="{{ randomId }}">continue</a></p></body>
</html>
