<ul class="social-row" aria-label="Profiles and social links">
  {%- for s in site.social %}
  <li><a href="{{ s.url }}" rel="me noopener" target="_blank" aria-label="{{ s.label }}">{% icon s.icon %}</a></li>
  {%- endfor %}
</ul>
